<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Photographer Portfolio{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand logo1" href="{% static 'images/logo1.jpeg' %}">
            <img src="{% static 'images/logo1.jpeg' %}" style="max-height: 140px;">
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle portfolio-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Portfolio
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'travel' %}">Travel</a>
                    <a class="dropdown-item" href="{% url 'landscape' %}">Landscape</a>
                    <a class="dropdown-item" href="{% url 'portrait' %}">Portrait</a>
                    <a class="dropdown-item" href="{% url 'street' %}">Street</a> 
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about_me' %}">About</a>
            </li>
        </ul>
    </nav>
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Main Content -->
    <div >
        {% block content %}{% endblock %}
    </div>

 <!-- Footer -->
 <footer class="text-center py-3 bg-dark text-light">
    <div class="container">
        <div class="social-links">
            <a href="https://www.instagram.com/dvdloop_portraits/" target="_blank" class="text-light mx-2">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="mailto:storiesbydvd@gmail.com" class="text-light mx-2">
                <i class="fas fa-envelope"></i>
            </a>
            <p>© 2024 Venkata Dheeraj Dandu. All rights reserved.</p>
        </div>
    </div>
</footer>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body> 


</html>
